{% load static %}
<html>
<head>
<title>Registration Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link rel="stylesheet" href="{% static 'css/Registration.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="col-sm-4">
        <a href="Criminals.html" class="btn btn-info">Criminal Data</a>
        <a href="Crime.html" class="btn btn-info">Crime Data</a>
        <a href="Users.html" class="btn btn-info">User Data</a>
    </div>
	<div class="main-w3layouts wrapper">
    <h1>Criminal Registration Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
		<form action="#" method="post">
        <input class="text" type="text" name="National ID" placeholder="National ID" required="">
        <input class="text" type="text" name="Full Name" placeholder="Full Name" required="">
        <input class="text" type="text" name="Age" placeholder="Age" required="">
        <input class="text" type="text" name="Gender" placeholder="Gender" required="">
        <input class="text" type="text" name="Height" placeholder="Height" required="">
        <input class="text" type="text" name="Nationality" placeholder="Nationality" required="">
        <input class="text" type="text" name="Criminal Image" placeholder="Criminal Image" required="">
        <input class="text" type="text" name="Finger Print" placeholder="Finger Print" required="">
        <input class="text" type="text" name="Foot Print" placeholder="Foot Print" required="">
        <input class="text" type="text" name="FIR Number" placeholder="FIR Number" required="">
        <input class="text" type="text" name="date Of Crime" placeholder="date Of Crime" required="">
        <input class="text" type="text" name="Crime Type" placeholder="Crime Type" required="">
        <input class="text" type="text" name="Victims" placeholder="Victims" required="">
        <input class="text" type="text" name="Officer On Duty" placeholder="Officer On Duty" required="">
        <input class="text" type="text" name="Field of Interest" placeholder="Field of Interest" required="">
        <input class="text" type="text" name="Crime Description" placeholder="Crime Description" required="">
     
        <div class="wthree-text">
        <div class="clear"> </div>
        </div>
        <input type="submit" value="Register">
        </form>
    </div>
		</div>
		<ul class="bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>